:root{
  --primary-color: rgb(15, 43, 68);
}

.navbar-color{
  background-color: var(--primary-color);
}

.navbar .nav-link{
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active{
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1{
  background: url('../img/img1.JPG');
  background-size: cover;
}

.carousel-image-2{
  background: url('../img/img2.JPG');
  background-size: cover;
}

.carousel-image-3{
  background: url('../img/img3.JPG');
  background-size: cover;
}

.display-3{
  padding: 0.5rem;
  font-weight: 300;
  background-color: rgba(15, 43, 68, 0.9);
}

.lead{
  padding: 0.75rem;
  background-color: rgba(15, 43, 68, 0.9);
}

.btn-primary{
  background-color: var(--primary-color);
  border: 0.5px solid white;
}

#home-heading{
  position: relative;
  min-height: 200px;
  background: url(../img/img7.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ccc;
  overflow-x: hidden;
}

#home-heading-2{
  position: relative;
  min-height: 200px;
  background: url(../img/img6.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ccc;
  overflow-x: hidden;
}

#home-heading-3{
  position: relative;
  min-height: 160px;
  background: url(../img/img13.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ccc;
  overflow-x: hidden;
}

.dark-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.footer{
  color: white;
  background-color: var(--primary-color);
  text-align: left;
  line-height: 40px;
  height: 40px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

/* Page Header */
#page-header{
  min-height: 200px;
  background: url(../img/img12.jpg);
  background-position: 0 -180px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img{
  margin-top: -50px;
}
